[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/artjimlop
[access "refs/for/refs/*"]
	read = group user/artjimlop
	push = group user/artjimlop
	label-Code-Review = -2..+2 group user/artjimlop
	label-Verified = -1..+1 group user/artjimlop
	rebase = group user/artjimlop
	removeReviewer = group user/artjimlop
	submit = group user/artjimlop
[access "refs/heads/*"]
	read = group user/artjimlop
	create = group user/artjimlop
	push = +force group user/artjimlop
	pushMerge = group user/artjimlop
[access "refs/tags/*"]
	push = +force group user/artjimlop
	pushTag = group user/artjimlop
	pushSignedTag = group user/artjimlop
